<div class="container" dir="rtl">
    <div style=" text-align:center;"
        class="col-md-offset-4 w-50 w-75-sm position-absolute top-50 start-50 translate-middle bigdiv">
        <h4 style="text-align:center;  color:#ffffff;" class="pt-3">يجب ادخال البيانات صحيحه</h4>
        <form [formGroup]="form">

           
<!-- ////////////////////////////name//////////////////////////////// -->
            <div  *ngIf="!showname"  class=" container" >
                <div class="input-group mt-3 w-100">
                    <button class="form-control w-25 hov" id="basic-url"
                        aria-describedby="basic-addon3 fw-bold"
                        (click)="Fshowname()">تعديل الاسم</button>
                    <span class="input-group-text w-75 "
                        id="basic-addon3">{{datauser?.name}}</span>
                    
                </div>
            </div>
<!-- /////////////////////////////////////////////////////////////////// -->
            <div  *ngIf="showname"  class="input-group w-75 cen col-sm-12 pt-2">
                <button  type="button" (click)='Canslename()' class="hov2 btn btn-light rounded-circle">
                    <i class="bi bi-x-lg"></i>
                </button>
                <button type="button" [disabled]="namevale.value==''"  (click)='editname(namevale.value)' class="hov btn btn-light rounded-circle">
                    <i class="bi bi-bookmark-check-fill "></i>
                </button>
                <input type="text" #namevale class="form-control w-75 text-center  rounded-pill cen" id="firstname"
                    placeholder="الاسم" formControlName="name" name="firstname" required>
            </div>

 <!-- ////////////////////////////email//////////////////////////////// -->
            <div *ngIf="!showemail" class=" container" >
                <div class="input-group mt-3 w-100">
                    <button class="form-control w-25 hov" id="basic-url"
                    (click)="Fshowemail()"   aria-describedby="basic-addon3 fw-bold">تعديل الايميل</button>
                    <span class="input-group-text w-75 "
                        id="basic-addon3">{{datauser?.email}}</span>
                    
                </div>
            </div>
<!-- /////////////////////////////////////////////////////////////////// -->
            
            <div  *ngIf="showemail"  class="input-group  w-75 cen  col-sm-12 pt-2">
                <button type="button" (click)='Cansleemail()' class="hov2 btn btn-light rounded-circle">
                    <i class="bi bi-x-lg"></i>
                </button>
                
                <button type="button" [disabled]="emailvalue.value==''" (click)='editemail(emailvalue.value)' class="hov btn btn-light rounded-circle">
                    <i class="bi bi-bookmark-check-fill "></i>
                </button>
                <input type="email" #emailvalue class="form-control w-75 text-center rounded-pill cen" id="email"
                    placeholder="ادخل الايميل" formControlName="email" name="email" required>
            </div>
            <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
                class="">
                <div *ngIf="form.controls['email'].errors" class=" text-warning sizetixt">
                    ادخل ايميل صحيح (test@test.com)
                </div>
            </div>


<!-- ////////////////////////////phone//////////////////////////////// -->
<div *ngIf="!showphone" class=" container" >
    <div class="input-group mt-3 w-100">
        <button class="form-control w-25 hov" id="basic-url"
        (click)="Fshowphone()"  aria-describedby="basic-addon3 fw-bold">تعديل الرقم</button>
        <span class="input-group-text w-75 "
            id="basic-addon3">{{datauser?.phone}}</span>
        
    </div>
</div>
<!-- /////////////////////////////////////////////////////////////////// -->

            <div  *ngIf="showphone"  class="input-group  w-75 cen  col-sm-12 pt-2">
                <button type="button" (click)='Canslephone()' class="hov2 btn btn-light rounded-circle">
                    <i class="bi bi-x-lg"></i>
                </button>
                <button type="button" [disabled]="phonevalue.value==''" (click)='editphon(phonevalue.value)' class="hov btn btn-light rounded-circle">
                    <i class="bi bi-bookmark-check-fill "></i>
                </button>
                <input type="text" #phonevalue class="form-control w-75 text-center rounded-pill cen" id="mobileno"
                    formControlName="phone" placeholder="ادخل رقم الموبايل" name="mobileno" required>
            </div>
            <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)"
                class="">
                <div *ngIf="form.controls['phone'].errors" class=" text-warning sizetixt">
                    ارخل رقم صحيح (01*********)
                </div>
            </div>


<!-- ////////////////////////////password//////////////////////////////// -->
<div *ngIf="!showpassword" class=" container" >
    <div class="input-group mt-3 w-100">
        <button class="form-control w-25 hov" id="basic-url"
        (click)="Fshowpass()"  aria-describedby="basic-addon3 fw-bold">تعديل الرقم السري</button>
        <span class="input-group-text w-75 "
            id="basic-addon3">*********</span>
        
    </div>
</div>
<!-- /////////////////////////////////////////////////////////////////// -->

            <div  *ngIf="showpassword"  class="col-sm-12 pt-2">
                <div class="input-group w-75 cen">
                    <button type="button" (click)='Canslepass()' class="hov2 btn btn-light rounded-circle">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <button type="button" [disabled]="passvale.value==''" (click)='editpass(passvale.value)' class="hov btn btn-light rounded-circle">
                        <i class="bi bi-bookmark-check-fill "></i>
                    </button>
                    <button type="button" (click)='togglePassword()' class="btn btn-light rounded-circle">
                        <i *ngIf="!showPassword" class="bi bi-eye-slash-fill"></i>
                        <i *ngIf="showPassword" class="bi bi-eye-fill"></i>
                    </button>
                    <input [type]="showPassword? 'text' : 'password'" #passvale class="form-control text-center  rounded-pill  "
                        placeholder="ادخل الرقم السري" formControlName="password" required />
                   
                </div>
            </div>
            <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
                class="">
                <div *ngIf="form.controls['password'].errors" class=" text-warning sizetixt">
                    يجب ان يحتوي علي الاقل 8 احرف ولا يزيد عن 15 حرف
                </div>
            </div>

<!-- ////////////////////////////image//////////////////////////////// -->
<div *ngIf="!showimage" class=" container" >
    <div class="input-group mt-3 w-100">
        <button class="form-control w-100 hov" id="basic-url"
        (click)="Fshowimage()"  aria-describedby="basic-addon3 fw-bold">تعديل الصوره</button>
       
        
    </div>
</div>
<!-- /////////////////////////////////////////////////////////////////// -->

            <div  *ngIf="showimage"  class="input-group  w-75 cen  col-sm-12 pt-2">
                <button type="button" (click)='Cansleimage()' class="hov2 btn btn-light rounded-circle">
                    <i class="bi bi-x-lg"></i>
                </button>
                <button type="button" [disabled]="files.length==0"  (click)='edityear()' class="hov btn btn-light rounded-circle">
                    <i class="bi bi-bookmark-check-fill "></i>
                </button>
               
                <input type="file" class="form-control w-75 text-center rounded-pill cen" name="files" label="add image"
                    (change)="onInputChange($event)" accept='image/*' formControlName="files" />
            </div>


<!-- ////////////////////////////year//////////////////////////////// -->
<div *ngIf="!showyear" class=" container" >
    <div class="input-group mt-3 w-100">
        <button class="form-control w-25 hov" id="basic-url"
        (click)="Fshowyear()"  aria-describedby="basic-addon3 fw-bold ">تعديل السنه</button>
        <span class="input-group-text w-75 "
            id="basic-addon3">{{datauser?.yearstude}}</span>
        
    </div>
</div>
<!-- /////////////////////////////////////////////////////////////////// -->

            <div  *ngIf="showyear"  class="input-group  w-75 cen  col-sm-12 pt-2">
                <button type="button" (click)='Cansleyear()' class="hov2 btn btn-light rounded-circle">
                    <i class="bi bi-x-lg"></i>
                </button>
                <button type="button" [disabled]="selectedstage==''"  (click)='edityear()' class="hov btn btn-light rounded-circle">
                    <i class="bi bi-bookmark-check-fill "></i>
                </button>
                <select class="form-select form-control w-75  rounded-pill cen" aria-label="Default select example"
                    (change)="onChange($event)" placeholder="select stage">
                    <option [disabled]="true" value="first" selected> اختر الصف</option>
                    <option value="first">الصف الاول</option>
                    <option value="second">الصف الثاني</option>
                    <option value="third">الصف الثالث</option>
                </select>
            </div>

            <!-- <button class="col-md-4 col-md-offset-4 btn mt-3  fs-2 fw-bolder bg-success w-50" style=" color:#000000; "
                type="submit" [disabled]="!form.valid"> إنشاء
            </button> -->
        </form>
        <div class="m-3">

        </div>
    </div>

</div>